/* Dropdown Click 1 Css */
/* Dropdown Click 1 Css */
/* Dropdown Click 1 Css */
/* Dropdown Click 1 Css */

.dropbtn1 {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn1:hover,
.dropbtn1:focus {
  background-color: #2980b9;
}

.dropdown1 {
  position: relative;
  display: inline-block;
}

.dropdown-content1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content1 a:hover {
  background-color: #ddd;
}

.show1 {
  display: block;
}

/* Dropdown Click 2 Css */
/* Dropdown Click 2 Css */
/* Dropdown Click 2 Css */
/* Dropdown Click 2 Css */

.dropbtn2 {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtn2:hover,
.dropbtn2:focus {
  background-color: #2980b9;
}

.dropdown2 {
  position: relative;
  display: inline-block;
}

.dropdown-content2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-content2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-content2 a:hover {
  background-color: #ddd;
}

.show2 {
  display: block;
}

/* Dropdown Hover 1 Css */
/* Dropdown Hover 1 Css */
/* Dropdown Hover 1 Css */
/* Dropdown Hover 1 Css */

.dropbtnHover1 {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtnHover1:hover,
.dropbtnHover1:focus {
  background-color: #2980b9;
}

.dropdownHover1 {
  position: relative;
  display: inline-block;
}

.dropdown-contentHover1 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentHover1 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentHover1 a:hover {
  background-color: #ddd;
}

.showHover1 {
  display: block;
}

/* Dropdown Hover 2 Css */
/* Dropdown Hover 2 Css */
/* Dropdown Hover 2 Css */
/* Dropdown Hover 2 Css */

.dropbtnHover2 {
  background-color: #3498db;
  color: white;
  padding: 16px;
  font-size: 16px;
  border: none;
  cursor: pointer;
}

.dropbtnHover2:hover,
.dropbtnHover2:focus {
  background-color: #2980b9;
}

.dropdownHover2 {
  position: relative;
  display: inline-block;
}

.dropdown-contentHover2 {
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 1;
}

.dropdown-contentHover2 a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

.dropdown-contentHover2 a:hover {
  background-color: #ddd;
}

.showHover2 {
  display: block;
}
